[submodule "CICE5_gridgen"]
	path = CICE5_gridgen
	url = https://github.com/DeniseWorthen/CICE5_gridgen.git
[submodule "WeightGen"]
	path = WeightGen
	url = https://github.com/DeniseWorthen/WeightGen.git
[submodule "Post"]
	path = Post
	url = https://github.com/DeniseWorthen/Post.git
[submodule "CICE5_ICgen"]
	path = CICE5_ICgen
	url = https://github.com/DeniseWorthen/CICE5_ICgen.git
[submodule "MOM6_ICgen"]
	path = MOM6_ICgen
	url = https://github.com/DeniseWorthen/MOM6_ICgen.git
[submodule "GridGen"]
	path = GridGen
	url = https://github.com/DeniseWorthen/GridGen.git
